<h3><%= @post.title %></h3>
<img src="<%= @post.image_url %>" alt="<%= @post.title %>" height="200" width="200">
<br><br>

<p><%= @post.content %></p>
<p>By: <%= @post.user.username %></p>

<% if authorized_to_edit?(@post) %>

<a href="/posts/<%= @post.id %>/edit">Edit Post</a>

<form class="" action="/posts/<%= @post.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete This Post">
</form>

<% end %>



